<div class="log m-0 pt-5 w-100 bg-img-2" style="background-color: #FFFFFF !important; padding: auto;">
    <form action="/auth/login" method="POST" class="w-25 p-5 m-auto" style="min-width: 320px; background-color: #D9D9D9 !important; height: auto;">    
        <h3 class="text-center mb-3">Login</h3>
        <style>
            h3::after {
                content: "";
                display: block;
                width: 40%;
                border-bottom: 2px solid black;
                margin: 0 auto;
                margin-top: 5px;
            }

            .centered-text {
                text-align: center;
                position: relative;
            }

            .centered-text::before,
            .centered-text::after {
                content: "";
                display: inline-block;
                width: 20%;
                border-bottom: 2px solid black;
                vertical-align: middle;
                margin: 0 10px;
            }
        </style>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter email.." required autofocus>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password.." required>
            <div class="text-end">
                <a href="/auth/forgot-password">Forgot Password?</a>
            </div>
        </div>

        <button type="submit" class="btn d-block m-auto mt-4" style="background-color: #74B444; width: 100%; border-radius: 10px;">Login</button>

        <div class="mt-3 centered-text">
            <span>Don't have an account?</span>
        </div>

        <div class="mt-3 text-center ">
            <a href="/auth/signup" class="btn btn-primary mt-2" style="width: 100%; border-radius: 10px; background-color: #74B444;">Sign Up</a>
        </div>
    </form>
</div>
