<div class="m-0 pt-5 w-100 bg-img-1 pb-5" style="background-color: #FFFFFF !important;">
    <form action="/auth/signup" method="POST" class="w-25 p-5 m-auto" style="min-width: 320px; background-color: #D9D9D9 !important; height: auto;">
        <h3 class="text-center mb-3">Sign Up</h3>
        <style>
            h3::after {
                content: "";
                display: block;
                width: 40%;
                border-bottom: 2px solid black;
                margin: 0 auto;
                margin-top: 5px;
            }

            .centered-text {
                text-align: center;
                position: relative;
            }

            .centered-text::before,
            .centered-text::after {
                content: "";
                display: inline-block;
                width: 10%;
                border-bottom: 2px solid black;
                vertical-align: middle;
            }
        </style>

        <% if(typeof errors != 'undefined') { %>
        <% errors.forEach(function(error) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error.msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }); %>
        <% } %>

        <div class="mb-3">
            <label for="first-name" class="form-label">First name</label>
            <input type="text" name="firstName" class="form-control" id="first-name" placeholder="Enter first name.." value="<%= typeof firstName != 'undefined' ? firstName : '' %>" required autofocus>
        </div>

        <div class="mb-3">
            <label for="last-name" class="form-label">Last name</label>
            <input type="text" name="lastName" class="form-control" id="last-name" placeholder="Enter last name.." value="<%= typeof lastName != 'undefined' ? lastName : '' %>" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter email.." value="<%= typeof email != 'undefined' ? email : '' %>" required>
        </div>

        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input type="password" name="password1" class="form-control" id="password1" placeholder="Enter password.." value="<%= typeof password1 != 'undefined' ? password1 : '' %>"
                input type="password" id="psw" name="psw"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        </div>

        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" name="password2" class="form-control" id="password2" placeholder="Re-enter password.." value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                required>
        </div>
        <div class="mb-3">
			<label for="role" class="form-label">Signup as</label>
			<select class="form-select" name="role" id="role">
				<option value="student">Student</option>
			</select>
		</div>

        <button type="submit" class="btn d-block m-auto mt-4" style="background-color: #74B444; width: 100%; border-radius: 10px;">Sign Up</button>

        <div class="mt-10 pb-3 pt-3 centered-text">
            <span>Already have an account?</span>
        </div>
        <div class="mt-100 pb-5">
            <a href="/auth/login" class="btn d-block m-auto mb-0" style="background-color: #74B444; width: 100%; border-radius: 10px;">Login</a>   
        </div>

    </form>
</div>
<!-- <div class="div">
    <div class="div-2">
      <img
        loading="lazy"
        srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/e8a16292-8558-4285-b81d-72ec01d2ed0f?apiKey=acacefd80e7447fb9489c6c86637171b&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/e8a16292-8558-4285-b81d-72ec01d2ed0f?apiKey=acacefd80e7447fb9489c6c86637171b&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e8a16292-8558-4285-b81d-72ec01d2ed0f?apiKey=acacefd80e7447fb9489c6c86637171b&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/e8a16292-8558-4285-b81d-72ec01d2ed0f?apiKey=acacefd80e7447fb9489c6c86637171b&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/e8a16292-8558-4285-b81d-72ec01d2ed0f?apiKey=acacefd80e7447fb9489c6c86637171b&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/e8a16292-8558-4285-b81d-72ec01d2ed0f?apiKey=acacefd80e7447fb9489c6c86637171b&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/e8a16292-8558-4285-b81d-72ec01d2ed0f?apiKey=acacefd80e7447fb9489c6c86637171b&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/e8a16292-8558-4285-b81d-72ec01d2ed0f?apiKey=acacefd80e7447fb9489c6c86637171b&"
        class="img"
      />
      <div class="div-3">
        <div class="div-4">
          <div class="div-5">Sign Up</div>
          <div class="div-6"></div>
        </div>
        <div class="div-7">
          <div class="div-8">Username:</div>
          <div class="div-9"></div>
          <div class="div-10">Password:</div>
          <div class="div-11"></div>
          <div class="div-12">Confirm Password:</div>
          <div class="div-13"></div>
          <div class="div-14">
            <div class="div-15"><div class="div-16">Sign Up</div></div>
          </div>
          <div class="div-17">
            <div class="div-18"></div>
            <div class="div-19">Already have an account?</div>
            <div class="div-20"></div>
          </div>
          <div class="div-21">
            <div class="div-22"><div class="div-23">Login</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .div {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
    }
    .div-2 {
      align-self: end;
      display: flex;
      width: 901px;
      max-width: 100%;
      flex-direction: column;
      margin: 37px 32px 98px 0;
    }
    @media (max-width: 991px) {
      .div-2 {
        margin: 0 10px 40px 0;
      }
    }
    .img {
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
      width: 30px;
      overflow: hidden;
      align-self: end;
      max-width: 100%;
    }
    .div-3 {
      background-color: #d9d9d9;
      align-self: start;
      display: flex;
      margin-top: 30px;
      width: 466px;
      max-width: 100%;
      flex-grow: 1;
      flex-direction: column;
      padding: 57px 20px 88px;
    }
    .div-4 {
      align-self: center;
      display: flex;
      width: 266px;
      max-width: 100%;
      flex-direction: column;
    }
    .div-5 {
      color: #000;
      align-self: center;
      text-wrap: nowrap;
      font: 700 32px Inter, sans-serif;
    }
    @media (max-width: 991px) {
      .div-5 {
        text-wrap: initial;
      }
    }
    .div-6 {
      background-color: #000;
      align-self: stretch;
      margin-top: 15px;
      width: 100%;
      height: 1px;
    }
    .div-7 {
      align-self: center;
      display: flex;
      margin-top: 33px;
      width: 370px;
      max-width: 100%;
      flex-direction: column;
    }
    .div-8 {
      color: #1e1e1e;
      align-self: start;
      text-wrap: nowrap;
      font: 500 14px Inter, sans-serif;
    }
    @media (max-width: 991px) {
      .div-8 {
        text-wrap: initial;
      }
    }
    .div-9 {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      align-self: start;
      display: flex;
      margin-top: 15px;
      width: 100%;
      height: 40px;
      flex-direction: column;
    }
    .div-10 {
      color: #1e1e1e;
      align-self: start;
      margin-top: 13px;
      text-wrap: nowrap;
      font: 500 14px Inter, sans-serif;
    }
    @media (max-width: 991px) {
      .div-10 {
        text-wrap: initial;
      }
    }
    .div-11 {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      align-self: start;
      display: flex;
      margin-top: 15px;
      width: 100%;
      height: 40px;
      flex-direction: column;
    }
    .div-12 {
      color: #1e1e1e;
      align-self: start;
      margin-top: 19px;
      text-wrap: nowrap;
      font: 500 14px Inter, sans-serif;
    }
    @media (max-width: 991px) {
      .div-12 {
        text-wrap: initial;
      }
    }
    .div-13 {
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      align-self: start;
      display: flex;
      margin-top: 15px;
      width: 100%;
      height: 40px;
      flex-direction: column;
    }
    .div-14 {
      align-self: start;
      display: flex;
      margin-top: 31px;
      width: 100%;
      flex-direction: column;
    }
    .div-15 {
      border-radius: 30px;
      background-color: #74b444;
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-grow: 1;
      flex-direction: column;
      padding: 17px 20px 9px;
    }
    .div-16 {
      color: #fff;
      align-self: center;
      text-wrap: nowrap;
      font: 600 14px Inter, sans-serif;
    }
    @media (max-width: 991px) {
      .div-16 {
        text-wrap: initial;
      }
    }
    .div-17 {
      align-self: start;
      display: flex;
      margin-top: 27px;
      width: 100%;
      align-items: flex-start;
      gap: 5px;
    }
    @media (max-width: 991px) {
      .div-17 {
        justify-content: center;
      }
    }
    .div-18 {
      background-color: #000;
      align-self: center;
      width: 91px;
      height: 1px;
      margin: auto 0;
    }
    .div-19 {
      color: #1e1e1e;
      font: 600 14px Inter, sans-serif;
    }
    .div-20 {
      background-color: #000;
      align-self: center;
      width: 89px;
      height: 1px;
      margin: auto 0;
    }
    .div-21 {
      align-self: start;
      display: flex;
      margin-top: 23px;
      width: 100%;
      flex-grow: 1;
      flex-direction: column;
    }
    .div-22 {
      border-radius: 30px;
      background-color: #74b444;
      align-self: stretch;
      display: flex;
      width: 100%;
      flex-grow: 1;
      flex-direction: column;
      padding: 17px 20px 9px;
    }
    .div-23 {
      color: #fff;
      align-self: center;
      text-wrap: nowrap;
      font: 600 14px Inter, sans-serif;
    }
    @media (max-width: 991px) {
      .div-23 {
        text-wrap: initial;
      }
    }
  </style> -->
  