<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Dashboard</h5>
		</div>
		
		<div class="d-flex gap-3 flex-wrap m-4 text-black">
			
			<!-- <div class="bg-light rounded p-3" style="width: 100%; border-style: solid; border-color: #bc0a0a;">
				<div class="fs-1"><%= numAdmins %></div>
				<div class="fs-5">Admin</div>
			</div> -->
			
			<div class="bg-light rounded p-3" style="width: 100%; border-style: solid; border-color: #bc0a0a;">
				<div class="fs-1"><%= numStudents %></div>
				<div class="fs-5">Students</div>
			</div>
			
			
			<div class="bg-light rounded p-3" style="width: 100%; border-style: solid; border-color: #bc0a0a;">
				<div class="fs-1"><%= numPendingUpload %></div>
				<div class="fs-5">New donation requests</div>
			</div>
			
			<div class="bg-light rounded p-3" style="width: 100%; border-style: solid; border-color: #bc0a0a;">
				<div class="fs-1"><%= numAcceptedUpload %></div>
				<div class="fs-5">Donations to be assigned to Hospital</div>
			</div>
			
		</div>
		
	</div>
</main>