<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Upload</h5>
		</div>
		
		<div class="border m-4 my-3 p-4 bg-white rounded-2 shadow-sm">
			<div class="mb-2">
				<span>Student Name:</span>
				<span><%= upload.student.firstName + " " + upload.student.lastName %></span>
			</div>
			
			<div class="mb-2">
				<span>Address :</span>
				<span><%= upload.address %></span>
			</div>
			
			<div class="mb-2">
				<span>Phone:</span>
				<span><%= upload.phone %></span>
			</div>
			
			<% if(student.studentToAdminMsg != "") { %>
				<div class="mb-2">
					<span>Message from Student:</span>
					<div class="ms-3"><%= upload.studentToAdminMsg %></div>
				</div>
			<% } %>
		</div>
		
	</div>
</main>