<header>
	<nav class="navbar navbar-expand-sm navbar-light py-1 h-100">
	  <div class="container-fluid p-0">
		<a class="navbar-brand text-white ps-2" href="/"><img src="/assets/images/logo.jpg" style="width: 6rem; height: 5rem; margin-left: 2rem;"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span><i class="fas fa-bars text-white"></i></span>
		</button>
		<div class="collapse navbar-collapse ps-2" id="navbarSupportedContent" style="z-index: 100;">
		  <ul class="navbar-nav ms-auto me-3">
			<li class="nav-item"><a class="nav-link nav-button" href="/home/homewithoutlogin">Home</a></li>
			<li class="nav-item"><a class="nav-link nav-button" href="/home/course1">Courses</a></li>
			<!-- <li class="nav-item"><a class="nav-link nav-button" href="/student/fetchRankedData">Rank</a></li> -->
			<% if(currentUser) { %>
			  <li class="user-icon" style="font-size: 24px; color: #FF0000;"><%= currentUser.firstName[0] %></li>
			<% } else { %>
			  <li class="nav-item"><a class="nav-link nav-button" href="/auth/login">Login</a></li>
			<% } %>
		  </ul>
		</div>
	  </div>
	</nav>
  </header>
  