<!-- interactive-design.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Apply a common style for the shadow box */
    .shadow-box {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
      padding: 50px; /* Add padding for better aesthetics */
      border-radius: 8px; /* Optional: Add border radius for rounded corners */
      background-color: #fff; /* Optional: Set background color */
      margin: 20px auto; /* Center the box horizontally and add margin for space */
      width: 80%; /* Set a relative width */
      max-width: 1500px; /* Set a maximum width for better readability on larger screens */
    }

    /* Add style for the line between paragraphs */
    .divider-line {
      border-top: 1px solid #ccc; /* Adjust color as needed */
      margin-top: 10px; /* Adjust spacing as needed */
    }

    /* Add margin for space before paragraphs */
    .paragraph {
      margin-top: 15px; /* Adjust spacing as needed */
    }
 /* Style for bold text */
 .bold-text {
      color: orange; /* Set the desired color for bold text */
      font-weight: bold;
    }

    /* Style for list items */
    .list-item {
      list-style: none;
      padding-left: 0;
      margin-bottom: 5px;
    }

    /* Style for the dot symbol */
    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 8px;
    }
  </style>
  <title ><b>AI Development & Data Science</b></title>
</head>
<body>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Why This Program?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        AI enables the automation of repetitive tasks, improving efficiency and allowing humans to focus on more complex and creative aspects of work.
        AI is used to create personalized experiences in applications, services, and products, enhancing user satisfaction and engagement.
        Data Science involves extracting meaningful insights from data, empowering organizations to make informed decisions and strategies.
        Data Science helps organizations optimize operations and resource allocation by analyzing patterns and inefficiencies in various processes.

    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">What Would I Learn?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        Understanding foundational mathematical concepts, including linear algebra, calculus, and statistics, which form the basis for many machine learning algorithms.
        Learning how to work with databases and manage data, including SQL for relational databases and NoSQL for non-relational databases.
        Techniques for cleaning and preprocessing raw data to make it suitable for analysis.
        Understanding and implementing a variety of machine learning algorithms for tasks such as classification, regression, clustering, and more.
        

    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Program Structure</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        Introduction to key mathematical concepts such as linear algebra and calculus, as well as statistical methods relevant to data analysis.
        Basic programming courses to ensure proficiency in a language like Python or R, which are commonly used in data science and AI development.
        Understanding database concepts, SQL for querying, and database management.

    </p>
  </div>
  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Your Career Prospects</span>
    </p>
    <ul class="paragraph">
      <li class="list-item"><span class="dot"></span> Data Scientist</li>
      <li class="list-item"><span class="dot"></span>Machine Learning Engineer</li>
      <li class="list-item"><span class="dot"></span>AI Engineer</li>
      <li class="list-item"><span class="dot"></span>Computer Vision Engineer</li>
      <li class="list-item"><span class="dot"></span>AI Research Scientist</li>
      <li class="list-item"><span class="dot"></span>Data Science Manager</li>
     
    </ul>
  </div>

</body>
</html>