<!-- interactive-design.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Apply a common style for the shadow box */
    .shadow-box {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
      padding: 50px; /* Add padding for better aesthetics */
      border-radius: 8px; /* Optional: Add border radius for rounded corners */
      background-color: #fff; /* Optional: Set background color */
      margin: 20px auto; /* Center the box horizontally and add margin for space */
      width: 80%; /* Set a relative width */
      max-width: 1500px; /* Set a maximum width for better readability on larger screens */
    }

    /* Add style for the line between paragraphs */
    .divider-line {
      border-top: 1px solid #ccc; /* Adjust color as needed */
      margin-top: 10px; /* Adjust spacing as needed */
    }

    /* Add margin for space before paragraphs */
    .paragraph {
      margin-top: 15px; /* Adjust spacing as needed */
    }
 /* Style for bold text */
 .bold-text {
      color: orange; /* Set the desired color for bold text */
      font-weight: bold;
    }

    /* Style for list items */
    .list-item {
      list-style: none;
      padding-left: 0;
      margin-bottom: 5px;
    }

    /* Style for the dot symbol */
    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 8px;
    }
  </style>
  <title ><b>Frontend Engineering</b></title>
</head>
<body>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Why This Program?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        Blockchain is a cutting-edge technology with transformative potential. Learning how to develop on blockchain platforms positions you at the forefront of innovation in the tech industry.
        The skills acquired in a blockchain program empower you to innovate and potentially become an entrepreneur. You can create your own blockchain-based applications or contribute to projects that leverage this technology.

    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">What Would I Learn?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        Understanding the fundamentals of blockchain technology, including decentralized ledgers, consensus algorithms, and cryptographic principles.
        Developing and deploying smart contracts, self-executing contracts with the terms of the agreement directly written into code.
        Familiarity with popular blockchain platforms such as Ethereum, Hyperledger, and others.
        Building decentralized applications that run on blockchain networks.
        

    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Program Structure</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        Introduction to the concepts, principles, and components of blockchain technology.
        Hands-on experience in coding, deploying, and testing smart contracts.
        Exploration of different blockchain platforms and their use cases.
        Understanding token standards and creating custom tokens on blockchain networks.
        
    </p>
  </div>
  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Your Career Prospects</span>
    </p>
    <ul class="paragraph">
      <li class="list-item"><span class="dot"></span> Blockchain Developer</li>
      <li class="list-item"><span class="dot"></span>Smart Contract Developer</li>
      <li class="list-item"><span class="dot"></span>Blockchain Engineer</li>
      <li class="list-item"><span class="dot"></span>Blockchain Consultant</li>
      <li class="list-item"><span class="dot"></span>Blockchain Security Specialist </li>
      <li class="list-item"><span class="dot"></span>Blockchain Analyst/li>
     
    </ul>
  </div>

</body>
</html>