<div class="div">
  <div class="div-2">
    <div class="div-3">Interactive Design & Development</div>
    <div class="div-4">
      <div class="div-5">
        <div class="column">
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&"
            class="course-img"
          />
        </div>
        <div class="column-2">
          <!-- <div class="div-6"> -->
            <!-- <div class="div-7">User Interface Design</div> -->
            <div class="course-container">
              <h1>User Interface Design</h1>
              <p> Get ready to elevate your design skills and create functional and
                visually stunning UI designs. Our program offers comprehensive
                guidance from experienced lecturers who will walk you through the
                entire UI Design Process, including wireframing, prototyping, and
                creating high-fidelity designs using industry-standard tools. Gain
                expertise in designing user-friendly and intuitive interfaces,
                building a portfolio of your own UI designs, and unlocking
                opportunities for UI-related careers worldwide.</p> 

                <button class="btn d-block m-auto mt-4" style="background-color: #74B444; width: 50%; border-radius: 10px;">Read More</button>
            </div>
           
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="div-10">
    <div class="div-11">
      <div class="div-12">
        <div class="column-3">
          <!-- <div class="div-13"> -->
            <!-- <div class="div-14">User Experience Research</div> -->
            <div class="course-container">
              <h1>User Experience Research</h1>
              <p>If you have a passion for designing intuitive and engaging user
                experiences for mobile apps and websites, our program offers the
                ideal opportunity to pursue that passion. You will learn the
                essentials of UX research, including user interviews, design
                thinking, and usability testing, guided by our knowledgeable
                lecturers. Gain a profound understanding of human behavior and
                psychology, enabling you to empathize with users and create
                aesthetically pleasing and functional designs.</p>

              <button class="btn d-block m-auto mt-4" style="background-color: #74B444; width: 50%; border-radius: 10px;">Read More</button>
            </div> 
          <!-- </div> -->
        </div>
        <div class="column-4">
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/0ee1f464-1094-4142-8e0b-759da4a8e637?apiKey=acacefd80e7447fb9489c6c86637171b&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/0ee1f464-1094-4142-8e0b-759da4a8e637?apiKey=acacefd80e7447fb9489c6c86637171b&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/0ee1f464-1094-4142-8e0b-759da4a8e637?apiKey=acacefd80e7447fb9489c6c86637171b&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/0ee1f464-1094-4142-8e0b-759da4a8e637?apiKey=acacefd80e7447fb9489c6c86637171b&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/0ee1f464-1094-4142-8e0b-759da4a8e637?apiKey=acacefd80e7447fb9489c6c86637171b&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/0ee1f464-1094-4142-8e0b-759da4a8e637?apiKey=acacefd80e7447fb9489c6c86637171b&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/0ee1f464-1094-4142-8e0b-759da4a8e637?apiKey=acacefd80e7447fb9489c6c86637171b&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/0ee1f464-1094-4142-8e0b-759da4a8e637?apiKey=acacefd80e7447fb9489c6c86637171b&"
            class="course-img"
          />
        </div>
      </div>
    </div>
    <div class="div-17">
      <div class="div-18">
        <div class="column-5">
          <img
            loading="lazy"
            srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/ceb9719e-3e26-4575-be43-f993a541dffd?apiKey=acacefd80e7447fb9489c6c86637171b&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/ceb9719e-3e26-4575-be43-f993a541dffd?apiKey=acacefd80e7447fb9489c6c86637171b&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/ceb9719e-3e26-4575-be43-f993a541dffd?apiKey=acacefd80e7447fb9489c6c86637171b&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/ceb9719e-3e26-4575-be43-f993a541dffd?apiKey=acacefd80e7447fb9489c6c86637171b&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/ceb9719e-3e26-4575-be43-f993a541dffd?apiKey=acacefd80e7447fb9489c6c86637171b&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/ceb9719e-3e26-4575-be43-f993a541dffd?apiKey=acacefd80e7447fb9489c6c86637171b&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/ceb9719e-3e26-4575-be43-f993a541dffd?apiKey=acacefd80e7447fb9489c6c86637171b&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/ceb9719e-3e26-4575-be43-f993a541dffd?apiKey=acacefd80e7447fb9489c6c86637171b&"
            class="course-img"
          />
        </div>
        <div class="column-6">
          <!-- <div class="div-19"> -->
            <!-- <div class="div-20">Frontend Engineer</div> -->
            <div class="course-container">
              <h1>Frontend Engineer</h1>
              <p>Embark on an exciting journey into the world of front-end
                application development, where you will learn the fundamentals of
                HTML, CSS, and JavaScript. Gain expertise in popular frameworks
                like React, Flutter, and Bootstrap to create dynamic and
                interactive user interfaces for websites and mobile applications.
                Our experienced lecturers will guide you through the entire
                development process, sharing valuable insights on best practices
                and industry advancements, from UI design and prototyping to code
                implementation and testing. Collaborate effectively with designers
                and developers using collaboration tools like Git and GitLab to
                create functional, robust, and visually appealing front-end
                applications.</p>
              
                <button class="btn d-block m-auto mt-4" style="background-color: #74B444; width: 50%; border-radius: 10px;">Read More</button>
            </div>
            
          <!-- </div> -->
        </div>
      </div>
    </div>
   
  </div>
  
  <!-- Add an id to the "Click Here to Apply" button for easy selection -->
<div class="mt-3 text-center ">
  <a class="btn btn-primary mt-2" id="applyButton" style="width: 25%; border-radius: 10px; background-color: #74B444; margin-bottom: 20px;">Click Here to Apply</a>
</div>

<!-- JavaScript code -->
<script>
// Check if the user is logged in (you need to implement this logic)
const ensureStudentLoggedIn = true; // Replace with your actual authentication check

// Select the "Click Here to Apply" button by its id
const applyButton = document.getElementById('applyButton');

if (ensureStudentLoggedIn) {
  // Add a click event listener to navigate to the "upload.ejs" page
  applyButton.addEventListener('click', function() {
    window.location.href = '/student/upload'; // Replace with the correct URL for your application
  });
} else {
  // If the user is not logged in, you can disable the button or add other behavior
  applyButton.style.pointerEvents = 'none'; // Disable the button
  applyButton.style.opacity = '0.5'; // Make it visually less prominent
}
</script>

</div>
<style>
  .course-container {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .course-container:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a floating shadow on hover */
    transform: translateY(-5px); /* Add a slight upward translation on hover */
  }

  /* Image Styles */
  .course-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.2s ease;
  }

  .course-img:hover {
    transform: scale(1.1); /* Add a slight scale effect on hover */
  }

  .div {
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    align-self: center;
    display: flex;
    width: 100%;
    max-width: 1120px;
    flex-direction: column;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    color: #f48422;
    align-self: start;
    text-wrap: nowrap;
    font: 700 32px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
      text-wrap: initial;
    }
  }
  .div-4 {
    align-self: center;
    margin-top: 15px;
    width: 100%;
    max-width: 1113px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
    }
  }
  .div-5 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-5 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
 
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  
  .div-10 {
    align-self: center;
    display: flex;
    margin-top: 80px;
    width: 100%;
    max-width: 1221px;
    flex-grow: 1;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-10 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-11 {
    align-self: center;
    width: 100%;
    max-width: 1132px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
    }
  }
  .div-12 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-12 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 41%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  
  .div-15 {
    color: #000;
    align-self: stretch;
    margin-top: 17px;
    font: 400 14px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      max-width: 100%;
    }
  }
  
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 59%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  
  .div-17 {
    align-self: center;
    margin-top: 34px;
    width: 100%;
    max-width: 1145px;
    padding: 0 20px;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
    }
  }
  .div-18 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-18 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 56%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 44%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
 
  .div-24 {
    color: #fff;
    align-self: center;
    text-align: center;
    text-wrap: nowrap;
    font: 500 12px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-24 {
      text-wrap: initial;
    }
  }
</style>

<!-- footer starts -->
<div class="footer-clean footer">
	<footer>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-4 col-md-3 item">
					<h3>Location</h3>
					<ul>
						<li>GCIT, Gyelpozhing, Mongar</li>
						<li>GCIT, Kabesa, Thimphu</li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 item">
					<h3>Phone Number</h3>
					<ul>
						<li>02-361196/02-361195</li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 item">
					<h3>Email</h3>
					<ul>
						<li>info.gcit@rub.edu.bt</li>
						<li>ict.gcit@rub.edu.bt</li>
					</ul>
				</div>
				<div class="col-lg-3 item social">
					<a href="https://www.facebook.com/profile.php?id=100011610033181&mibextid=ZbWKwL"><i class="fab fa-facebook"></i></a>
					<a href="https://twitter.com/home"><i	class="fab fa-twitter"></i></a>
					<a href="12190088.gcit@rub.edu.bt"><i class="fab fa-google-plus-g"></i></a>
					<a href="https://l.messenger.com/l.php?u=https%3A%2F%2Finstagram.com%2Fits_kelzang24%3Figshid%3DYmMyMTA2M2Y%253D&h=AT1GW1RPk8uiSxUPGBTmGqnwLA988oQECIZOrMMvfYatRG9PZR4D2eMtpUsN2B31Yi8ImVK3YCyMfCl7fvjo6Fz1Sm1JRgupkLusr7_509n_LYGAPnniN_5Xu-EpydmKvTD42w"><i class="fab fa-instagram"></i></a>
					<p class="copyright">GCIT Registration System</p>
				</div>
			</div>
		</div>
	</footer>
</div>
<!-- footer ends -->
<!-- All Js -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>