<!-- interactive-design.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Apply a common style for the shadow box */
    .shadow-box {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
      padding: 50px; /* Add padding for better aesthetics */
      border-radius: 8px; /* Optional: Add border radius for rounded corners */
      background-color: #fff; /* Optional: Set background color */
      margin: 20px auto; /* Center the box horizontally and add margin for space */
      width: 80%; /* Set a relative width */
      max-width: 1500px; /* Set a maximum width for better readability on larger screens */
    }

    /* Add style for the line between paragraphs */
    .divider-line {
      border-top: 1px solid #ccc; /* Adjust color as needed */
      margin-top: 10px; /* Adjust spacing as needed */
    }

    /* Add margin for space before paragraphs */
    .paragraph {
      margin-top: 15px; /* Adjust spacing as needed */
    }
 /* Style for bold text */
 .bold-text {
      color: orange; /* Set the desired color for bold text */
      font-weight: bold;
    }

    /* Style for list items */
    .list-item {
      list-style: none;
      padding-left: 0;
      margin-bottom: 5px;
    }

    /* Style for the dot symbol */
    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 8px;
    }
  </style>
  <title ><b>Frontend Engineering</b></title>
</head>
<body>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Why This Program?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        Frontend Engineering plays a crucial role in creating the visual and interactive elements of websites and applications. As the emphasis on user experience grows, the demand for skilled Frontend Engineers is on the rise. Specializing in Frontend Engineering opens up diverse career paths, including roles such as Frontend Developer, UI Engineer, Web Developer, and more. Learning the intricacies of building responsive and user-friendly interfaces empowers individuals to contribute to the development of websites and applications that meet modern standards. Collaboration with backend developers, designers, and other professionals is a key aspect of Frontend Engineering. A program in Frontend Engineering equips individuals with the skills needed for effective collaboration and communication across multidisciplinary teams.

    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">What Would I Learn?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        Mastery of HTML, CSS, and JavaScript, the foundational languages of the web.
        Proficiency in popular frontend frameworks such as React, Angular, or Vue.js.
        Techniques for creating responsive and mobile-friendly interfaces.
        Basics of version control systems like Git for collaboration and code management.
        Strategies to optimize website performance for a better user experience.

    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Program Structure</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        In-depth coverage of HTML, CSS, and JavaScript fundamentals.
        Exploration of frontend frameworks, state management, and other advanced concepts.
        Practical application through building projects and labs to apply learned skills.
        Learning how to test and debug frontend code effectively.
        Exposure to tools for collaboration, such as version control systems and project management tools.

    </p>
  </div>
  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Your Career Prospects</span>
    </p>
    <ul class="paragraph">
      <li class="list-item"><span class="dot"></span>Frontend Developer</li>
      <li class="list-item"><span class="dot"></span>UI Engineer</li>
      <li class="list-item"><span class="dot"></span>Web Developer</li>
      <li class="list-item"><span class="dot"></span>Full-Stack Developer</li>
      <li class="list-item"><span class="dot"></span>Freelancing </li>
      <li class="list-item"><span class="dot"></span>Entrepreneurship</li>
     
    </ul>
  </div>

</body>
</html>