<!-- interactive-design.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Apply a common style for the shadow box */
    .shadow-box {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
      padding: 50px; /* Add padding for better aesthetics */
      border-radius: 8px; /* Optional: Add border radius for rounded corners */
      background-color: #fff; /* Optional: Set background color */
      margin: 20px auto; /* Center the box horizontally and add margin for space */
      width: 80%; /* Set a relative width */
      max-width: 1500px; /* Set a maximum width for better readability on larger screens */
    }

    /* Add style for the line between paragraphs */
    .divider-line {
      border-top: 1px solid #ccc; /* Adjust color as needed */
      margin-top: 10px; /* Adjust spacing as needed */
    }

    /* Add margin for space before paragraphs */
    .paragraph {
      margin-top: 15px; /* Adjust spacing as needed */
    }
 /* Style for bold text */
 .bold-text {
      color: orange; /* Set the desired color for bold text */
      font-weight: bold;
    }

    /* Style for list items */
    .list-item {
      list-style: none;
      padding-left: 0;
      margin-bottom: 5px;
    }

    /* Style for the dot symbol */
    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 8px;
    }
  </style>
  <title ><b>Frontend Engineering</b></title>
</head>
<body>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Why This Program?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        Full Stack Development programs aim to equip you with a broad skill set, covering both the client-side (front-end) and server-side (back-end) development.
        work with a variety of technologies, frameworks, and tools, making you versatile in web development.
        Gain a holistic understanding of web development by learning how the entire stack fits together. This includes understanding databases, server-side scripting, client-side scripting, and how they communicate.


    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">What Would I Learn?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        You will acquire a comprehensive skill set covering both Front-End and Back-End Development. On the Front-End, you'll delve into the core building blocks of web pages, mastering HTML, CSS, and JavaScript. Additionally,
        you'll explore popular front-end frameworks such as React, Angular, or Vue to efficiently build dynamic and responsive user interfaces. In the Back-End, you'll learn server-side scripting languages like Node.js, Python, 
        or Ruby, as well as gain expertise in databases and data management, encompassing both SQL and NoSQL databases. The curriculum includes Version Control using Git for effective collaboration and tracking code changes. 
        You'll also gain proficiency in configuring web servers (e.g., Apache, Nginx), implementing deployment strategies using tools like Docker and Heroku, and working with APIs to build and consume Application Programming 
        Interfaces. Throughout the program, you'll develop familiarity with a range of development tools and environments, fostering a holistic understanding of the software development lifecycle.

    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Program Structure</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        Introduction to web development principles.
        Basic programming concepts and languages.
        Server-side scripting languages (Node.js, Python, Ruby).
        Understanding how front-end and back-end components 
    </p>
  </div>
  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Your Career Prospects</span>
    </p>
    <ul class="paragraph">
      <li class="list-item"><span class="dot"></span>Full Stack Developer</li>
      <li class="list-item"><span class="dot"></span>Front-End Developer</li>
      <li class="list-item"><span class="dot"></span>Back-End Developer</li>
      <li class="list-item"><span class="dot"></span>Node.js Developer</li>
      <li class="list-item"><span class="dot"></span>Software Engineer </li>
      <li class="list-item"><span class="dot"></span>Technical Lead</li>
     
    </ul>
  </div>

</body>
</html>