<div class="div">
  <div class="div-2">
      <div class="div-3">Interactive Design & Development</div>
      <div class="div-4">
          <div class="div-5">
              <div class="column">
                  <img
                      loading="lazy"
                      srcset="https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=100 100w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=200 200w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=400 400w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=800 800w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=1200 1200w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=1600 1600w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&width=2000 2000w, https://cdn.builder.io/api/v1/image/assets/TEMP/36a3bdc7-724d-4445-b895-7f7fabf7b66a?apiKey=acacefd80e7447fb9489c6c86637171b&"
                      class="course-img"
                  />
              </div>
              <div class="column-2">
                  <div class="course-container">
                      <h1>User Interface Design</h1>
                      <p>Get ready to elevate your design skills and create functional and visually stunning UI designs. Our program offers comprehensive guidance from experienced lecturers who will walk you through the entire UI Design Process, including wireframing, prototyping, and creating high-fidelity designs using industry-standard tools. Gain expertise in designing user-friendly and intuitive interfaces, building a portfolio of your own UI designs, and unlocking opportunities for UI-related careers worldwide.</p>
                      <button class="btn d-block m-auto mt-4" style="background-color: #74B444; width: 50%; border-radius: 10px;">Read More</button>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Add other sections similarly -->

  <!-- Click Here to Apply Button -->
  <div class="mt-3 text-center">
      <a class="btn btn-primary mt-2" id="applyButton" style="width: 25%; border-radius: 10px; background-color: #74B444; margin-bottom: 20px;">Click Here to Apply</a>
  </div>
</div>

<!-- JavaScript code -->
<script>
  const ensureStudentLoggedIn = true;

  const applyButton = document.getElementById('applyButton');

  if (ensureStudentLoggedIn) {
      applyButton.addEventListener('click', function() {
          window.location.href = '/student/upload';
      });
  } else {
      applyButton.style.pointerEvents = 'none';
      applyButton.style.opacity = '0.5';
  }
</script>

<style>
  .course-container {
      margin-bottom: 30px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 10px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .course-container:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
  }

  .course-img {
      width: 100%;
      height: auto;
      border-radius: 10px;
      transition: transform 0.2s ease;
  }

  .course-img:hover {
      transform: scale(1.1);
  }

  /* Add other styles here */
</style>

<!-- Footer Section -->
<div class="footer-clean footer">
  <footer>
      <!-- Footer content goes here -->
  </footer>
</div>

<!-- All Js -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
</body>
