<!-- interactive-design.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Apply a common style for the shadow box */
    .shadow-box {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
      padding: 50px; /* Add padding for better aesthetics */
      border-radius: 8px; /* Optional: Add border radius for rounded corners */
      background-color: #fff; /* Optional: Set background color */
      margin: 20px auto; /* Center the box horizontally and add margin for space */
      width: 80%; /* Set a relative width */
      max-width: 1500px; /* Set a maximum width for better readability on larger screens */
    }

    /* Add style for the line between paragraphs */
    .divider-line {
      border-top: 1px solid #ccc; /* Adjust color as needed */
      margin-top: 10px; /* Adjust spacing as needed */
    }

    /* Add margin for space before paragraphs */
    .paragraph {
      margin-top: 15px; /* Adjust spacing as needed */
    }

    /* Style for bold text */
    .bold-text {
      color: orange; /* Set the desired color for bold text */
      font-weight: bold;
    }

    /* Style for list items */
    .list-item {
      list-style: none;
      padding-left: 0;
      margin-bottom: 5px;
    }

    /* Style for the dot symbol */
    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 8px;
    }
  </style>
  <title ><b>User Experience Research</b></title>
</head>
<body>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Why This Program?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        UX research is crucial in the design and development of 
        products and services. With the increasing emphasis on user-centered design, 
        there is a growing demand for professionals with expertise in UX research.  
        Specializing in UX research opens up various career paths, including UX researcher, usability analyst, information architect, and more.
        Learning how to conduct effective user research enables individuals to contribute to the creation of products and services that meet users' needs and expectations, resulting in more successful and user-friendly designs.
        UX research often involves collaboration with designers, developers, marketers, and other professionals. A program can help individuals build skills that facilitate effective communication and collaboration across different disciplines.

    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">What Would I Learn?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        Understanding various research methodologies, including qualitative and quantitative approaches, as well as usability testing, surveys, interviews, and more.

        Learning how to incorporate user feedback into the design process to create products that align with user needs and preferences.
        
        Gaining skills in analyzing and interpreting data collected during the research process to inform design decisions.
        
        Building and testing prototypes to iterate on design concepts and ensure usability.
        Developing the ability to communicate research findings and design recommendations effectively to diverse stakeholders.
    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Program Structure</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
        The structure of a UX research program can vary, but it typically includes a combination of lectures, hands-on projects, workshops, and potentially internships or real-world projects. Courses may cover topics such as user psychology, design thinking, data analysis, and more. Some programs might also offer specializations in areas like mobile UX, e-commerce, or healthcare
    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Your Career Prospects</span>
    </p>
    <ul class="paragraph">
      <li class="list-item"><span class="dot"></span>UX Researcher</li>
      <li class="list-item"><span class="dot"></span>Usability Analyst</li>
      <li class="list-item"><span class="dot"></span>Information Architect</li>
      <li class="list-item"><span class="dot"></span>Interaction Designer</li>
      <li class="list-item"><span class="dot"></span>UX Consultant</li>
      <li class="list-item"><span class="dot"></span>Product Manager</li>
     
    </ul>
  </div>

</body>
</html>