<!-- interactive-design.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    /* Apply a common style for the shadow box */
    .shadow-box {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust values as needed */
      padding: 50px; /* Add padding for better aesthetics */
      border-radius: 8px; /* Optional: Add border radius for rounded corners */
      background-color: #fff; /* Optional: Set background color */
      margin: 20px auto; /* Center the box horizontally and add margin for space */
      width: 80%; /* Set a relative width */
      max-width: 1500px; /* Set a maximum width for better readability on larger screens */
    }

    /* Add style for the line between paragraphs */
    .divider-line {
      border-top: 1px solid #ccc; /* Adjust color as needed */
      margin-top: 10px; /* Adjust spacing as needed */
    }

    /* Add margin for space before paragraphs */
    .paragraph {
      margin-top: 15px; /* Adjust spacing as needed */
    }

    /* Style for bold text */
    .bold-text {
      color: orange; /* Set the desired color for bold text */
      font-weight: bold;
    }

    /* Style for list items */
    .list-item {
      list-style: none;
      padding-left: 0;
      margin-bottom: 5px;
    }

    /* Style for the dot symbol */
    .dot {
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 8px;
    }
  </style>
  <title>Interactive Design Program</title>
</head>
<body>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Why This Program?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
      You possess a passion for aesthetics, technology, and a keen interest in understanding technology-mediated experiences.
      You are curious about how interactions in websites, mobile apps, and physical objects are achieved.
      You aspire to create practical, enjoyable, and inclusive user-product interactions.
      Our Bachelor in Interactive Design and Development program focuses on Interaction Design, teaching students how to create user-centered products such as apps and websites. Through research, observation, and prototyping, students learn the latest design skills and competencies to build user-centered solutions and excel in the ever-changing digital technology field.
    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">What Would I Learn?</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
      You will build a solid foundation in design by exploring and experimenting with design principles.
      You can apply user-centered design principles and practices with excellence.
      You have the opportunity to develop expertise in traditional and digital techniques to design successful interactive experiences.
      You will synthesize and effectively communicate insights into UX strategy, design concepts, and intentional decisions.
      You are encouraged to demonstrate professionalism, collaborate with others, and showcase your skills, ethics, and self-awareness.
    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Program Structure</span>
    </p>
    <div class="divider-line"></div>
    <p class="paragraph">
      Our program focuses on designing interactive experiences that prioritize both aesthetics and functionality. Throughout the four-year degree, 
      students acquire and develop the technical skills necessary to create innovative and accessible interactions.

      The curriculum consists of theory modules and practical sessions that foster inquiry-based learning, covering topics such as interaction
      design, user experience, web design, development, and prototyping.
    </p>
  </div>

  <div class="shadow-box">
    <p class="paragraph">
      <span class="bold-text">Your Career Prospects</span>
    </p>
    <ul class="paragraph">
      <li class="list-item"><span class="dot"></span>Interaction Designer</li>
      <li class="list-item"><span class="dot"></span>Interface Designer</li>
      <li class="list-item"><span class="dot"></span>Mobile App Designer</li>
      <li class="list-item"><span class="dot"></span>Robotics Design</li>
      <li class="list-item"><span class="dot"></span>Usability Expert</li>
      <li class="list-item"><span class="dot"></span>User Experience Designer</li>
      <li class="list-item"><span class="dot"></span>User Researcher</li>
      <li class="list-item"><span class="dot"></span>Visualisation Expert</li>
      <li class="list-item"><span class="dot"></span>Web Designer</li>
    </ul>
  </div>

</body>
</html>
