/* CSS for the header */
header {
    border: 2px solid transparent; /* Set the initial border style */
    transition: border-color 0.3s ease; /* Add a transition for a smooth effect */
  
    /* Additional CSS styles for your header, if needed */
  }
  
  header:hover,
  header:focus {
    border-color: #fff; /* Change the border color when hovered or focused */
  }
  