main
{
	height: calc(100vh - 50px);
	overflow-y: hidden;
	display: flex;
}

#main-wrapper
{
	flex-grow: 1;
	height: 100%;
	overflow-y: auto;
}

#sidebar
{
	height: 100%;
	width: 228px;	flex-shrink: 0;
	background-color: white;
	overflow-y: auto;
	transition: 0.15s linear;
	border-style: solid;
	border-color: lightgrey;
}

#sidebar-toggler-btn
{
	cursor: pointer;
}

.sidebar-hide
{
	width: 0px !important;
}

#sidebar ul
{
	list-style-type: none;
	padding: 0;
}

#sidebar ul li
{
	color: black;
	font-size: 18px;
}

#sidebar ul li:first-child, #sidebar ul li:last-child
{
	text-align: center;
	margin: 5px;
}

#sidebar ul li a:not(.btn)
{
	text-decoration: none;
	color: black;
	display: inline-block;
	width: 100%;
	padding: 10px 15px;
}
#sidebar ul li a.active
{
	color: black;
	background-color: #ccccce;
	border-left: 4px solid var(--theme-color);
}
#sidebar ul li a:not(.btn):hover
{
	border-color: #bc0a0a;
	border-style: solid;
}