<!-- confirmation.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Submitted</title>
    <!-- Add Bootstrap CSS (you may need to adjust the path) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h2 class="text-center">Application Submitted Successfully!</h2>
        <p class="text-center">Thank you for applying. Your application has been received.</p>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="background-color: #74B444;">
            View Details
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Application Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p><strong>CID:</strong> <%= Cid %></p>
                        <p><strong>Name:</strong> <%= Name %></p>
                        <p><strong>Email:</strong> <%= email %></p>
                        <p><strong>Percentage:</strong> <%= percentage %></p>
                        <p><strong>Course:</strong> <%= course %></p>
                        <!-- Add more details if needed -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background-color: #FF0000; color: #fff;">Close</button>
                        <!-- You can add more buttons or actions here -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Add your additional information or details here -->
    </div>

    <!-- Add Bootstrap JS (you may need to adjust the path) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
