
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
			aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
			aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
			aria-label="Slide 3"></button>
	</div>

	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/assets/images/gcit.png" class="d-block w-100" alt="...">
			<div class="carousel-caption">
				<h5>GCIT <span>Registration</span> System</h5>
				<p>Excellence in Information Technology</p>
			</div>
		</div>
		<div class="carousel-item">
			<img src="/assets/images/gcit1.jpg" class="d-block w-100" alt="...">
			<div class="carousel-caption">
				<h5>GCIT <span>Registration</span> System</h5>
				<p>Shaping Tech Innovators of Tomorrow.</p>

			</div>
		</div>
		<div class="carousel-item">
			<img src="/assets/images/gcit2.jpg" class="d-block w-100" alt="...">
			<div class="carousel-caption">
				<h5>GCIT <span>Registration </span> System</h5>
				<p>Coding Excellence, Beyond Boundaries.</p>
			</div>
		</div>
	</div>
</div>
<br><br>
<div class="container-fluid padding">
	<div class="row text-center">
		<div class="col-12">
			<h1 class="display-4">Our Courses</h1>
		</div>
		<hr />
	</div>
</div>

<br><br>
<!--Campaign in Cards-->
<div class="container padding">
	<div class="row padding justify-content-center">
		<div class="col-md-4">
			<div class="card px-5" style="height: 100%;">
				<img class="card-img-top img-fluid" src="/assets/images/course 1.png" style="width: 100%;" />
				<div class="img-overlay" style="background-color: #F48422; height: 100px;">
					<h5 class="text-center" style="color: white;">Computer Science</h5>
					<a href="/home/course1" style="color: black; text-decoration: none; display: block; width: fit-content; margin: 0 auto;">Learn More</a>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card px-5" style="height: 100%;">
				<img class="card-img-top img-fluid" src="/assets/images/course 2.png"style="width: 100%;"  />
				<div class="img-overlay" style="background-color: #F48422; height: 100px;">
					<h5 class="text-center" style="color: white;">Interactive Design & Development</h5>
					<a href="/home/course1" style="color: black; text-decoration: none; display: block; width: fit-content; margin: 0 auto;">Learn More</a>


				</div>
			</div>
		</div>
	</div>
</div>

<br><br>


<!-- footer starts -->
<div class="footer-clean footer">
	<footer>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-4 col-md-3 item">
					<h3>Location</h3>
					<ul>
						<li>GCIT, Gyelpozhing, Mongar</li>
						<li>GCIT, Kabesa, Thimphu</li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 item">
					<h3>Phone Number</h3>
					<ul>
						<li>02-361196/02-361195</li>
					</ul>
				</div>
				<div class="col-sm-4 col-md-3 item">
					<h3>Email</h3>
					<ul>
						<li>info.gcit@rub.edu.bt</li>
						<li>ict.gcit@rub.edu.bt</li>
					</ul>
				</div>
				<div class="col-lg-3 item social">
					<a href="https://www.facebook.com/profile.php?id=100011610033181&mibextid=ZbWKwL"><i class="fab fa-facebook"></i></a>
					<a href="https://twitter.com/home"><i	class="fab fa-twitter"></i></a>
					<a href="12190088.gcit@rub.edu.bt"><i class="fab fa-google-plus-g"></i></a>
					<a href="https://l.messenger.com/l.php?u=https%3A%2F%2Finstagram.com%2Fits_kelzang24%3Figshid%3DYmMyMTA2M2Y%253D&h=AT1GW1RPk8uiSxUPGBTmGqnwLA988oQECIZOrMMvfYatRG9PZR4D2eMtpUsN2B31Yi8ImVK3YCyMfCl7fvjo6Fz1Sm1JRgupkLusr7_509n_LYGAPnniN_5Xu-EpydmKvTD42w"><i class="fab fa-instagram"></i></a>
					<p class="copyright">GCIT Registration System</p>
				</div>
			</div>
		</div>
	</footer>
</div>
<!-- footer ends -->
<!-- All Js -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/script.js"></script>
