<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        table {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:hover {
            background-color: #f5f5f5;
        }

        .view-rank-link {
            margin-top: 50px; /* Adjust the margin as needed */
            margin-left: 1463px;
            /* align-self: flex-start; */
            text-align: center;
            text-decoration: none;
            padding: 10px 15px;
            width: 25%; /* Adjust the width as needed */
            background-color: #74B444;
            color: white;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .view-rank-link:hover {
            background-color: #F48422;
        }
        
    </style>
</head>
<body>

    <h1><%= title %></h1>
    <% if (rankedData.message) { %>
        <p><%= rankedData.message %></p>
    <% } else { %>

    <table border="1">
        <thead>
            <tr>
                <th>CID</th>
                <th>Name</th>
                <th>Percentage Rank</th>
            </tr>
        </thead>
        <tbody>
            <% rankedData.forEach((data, index) => { %>
                <tr>
                    <td><%= data.Cid %></td>
                    <td><%= data.Name %></td>
                    <td><%= index + 1 %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <a href="/student/fetchRankedData/cs" class="view-rank-link">View Rank for Computer Science</a>
    <% } %>

    
</body>
</html>
