<div class="m-0 pt-5 w-100 bg pb-5" style="background-color: #FFFFFF !important;">
    <form action="/student/upload" method="POST" enctype="multipart/form-data" class="w-25 p-5 m-auto" style="min-width: 320px; background-color: #D9D9D9 !important; height: auto;">
        <h3 class="text-center mb-3">Apply for Course</h3>
        <style>
            h3::after {
                content: "";
                display: block;
                width: 40%;
                border-bottom: 2px solid black;
                margin: 0 auto;
                margin-top: 5px;
            }

            .centered-text {
                text-align: center;
                position: relative;
            }

            .centered-text::before,
            .centered-text::after {
                content: "";
                display: inline-block;
                width: 10%;
                border-bottom: 2px solid black;
                vertical-align: middle;
            }
        </style>

        <% if (typeof errors != 'undefined') { %>
            <% errors.forEach(function (error) { %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% }); %>
        <% } %>

        <div class="mb-3">
            <label for="cid-number" class="form-label">CID No</label>
            <input type="text" name="Cid" class="form-control" id="Cid" placeholder="Enter CID number.." value="<%= typeof Cid !== 'undefined' ? Cid : '' %>" required autofocus pattern="[0-9]*" minlength="11" maxlength="11" inputmode="numeric">
        </div>

        <div class="mb-3">
            <label for="full-name" class="form-label">Name</label>
            <input type="text" name="Name" class="form-control" id="full-name" placeholder="Enter name.." value="<%= typeof Name !== 'undefined' ? Name : '' %>" required>
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter email.." value="<%= typeof email !== 'undefined' ? email : '' %>" required>
        </div>

        <!-- <div class="mb-3">
            <label for="index-number" class="form-label">Percentage</label>
            <input type="text" name="indexNumber" class="form-control" id="index-number" placeholder="Enter percentage scored.." value="<%= typeof indexNumber !== 'undefined' ? indexNumber : '' %>" required autofocus pattern="[0-9]*" minlength="12" maxlength="12" inputmode="numeric">
        </div> -->

        <div class="mb-3">
            <label for="percentage" class="form-label">Percentage</label>
            <input type="number" name="percentage" class="form-control" id="percentage" placeholder="Enter percentage scored" value="<%= typeof percentage !== 'undefined' ? percentage : '' %>" required pattern="[0-9]+" min="0" max="100">
        </div>
        

        <div class="mb-3">
            <label for="course" class="form-label">Choose Course</label>
            <select name="course" class="form-select" id="course" required>
                <option value="" selected disabled>Select a course</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Interactive Design and Development">Interactive Design and Development</option>
                <!-- Add more course options here -->
            </select>
        </div>

        <div class="mb-3">
            <label for="pdfFile" class="form-label">Upload File <span class="text-muted">(PDF only)</span></label>
            <input type="file" name="pdfFile" class="form-control" id="pdfFile" accept=".pdf" required aria-describedby="pdfFileHelp">
            <div id="pdfFileHelp" class="form-text">Please upload a PDF file.</div>
        </div>

        <button type="submit" class="btn d-block m-auto mt-4" style="background-color: #74B444; width: 100%; border-radius: 10px;">Apply</button>
    </form>
</div>
